.nav-toolbar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 150px;
  box-sizing: border-box;
  border-radius: 0 0 10px 10px;
  background-color: #f2f2f3;
}

.nav-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0 5px 0;
}

#genesys-icon {
  height: 50px;
  width: 50px;
  color: #FF4F1F;
}

.nav-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
}
