.softphone-panel-wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color:  #e8ebf7;
  align-content: flex-start;
  border-radius: 10px;
}

.softphone-call-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 100%;
  box-sizing: border-box;
}

.softphone-call-card {
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  box-sizing: border-box;
  margin: 10px;
}

.softphone-station-card {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  box-sizing: border-box;
  margin: 10px;
}

.softphone-call-content {
  display: flex;
  flex-direction: column;
}

.softphone-sessions {
  display: flex;
  flex: 1 1 100%;
  box-sizing: border-box;
  margin: 10px;
}

.call-btn, .end-all-btn {
  margin: 5px;
}
