.softphone-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 85%;
  width: 85%;
  border: 2px solid black;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #e8ebf7;
  overflow: auto;
}

#softphone-card,
#softphone-station {
  margin: 10px;
}

.softphone-controls {
  display: flex;
  justify-content: center;
  width: 100%;
}

.call-btn,
.end-btn {
  margin: 5px 0;
}

.softphone-call-content {
  display: flex;
  flex-direction: column;
  height: 125px;
  width: 100%;
}
