.softphone-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 85%;
  width: 85%;
  border: 2px solid black;
  /* box-shadow: 5px 5px 5px grey; */
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #e8ebf7;
}

.softphone-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.phone-input {
  border: 1px solid black;
  background: white;
  width: 200px;
  height: 25px;
  border-radius: 3px;
  margin: 10px 0 10px 0;
}
